H1{
    text-align: center;
}
.links{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 0 auto;
    background-color: antiquewhite;
    width:10%;
    

}
.links>a:hover{
   background: gray;
}