body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
.main{
    display: flex;
    margin: 0 auto;
}
.links{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    margin: 0 auto;
    transition: 0.5s;
}
.links:hover{
    transform: scale(1.5);
}
.demo{
    height:100px;
    width: 100px;
    background-color: lightgray;
    margin: 0 auto;
    transition: 0.5s;

}
.demo:hover{
    transform: scale(1.5);

